body {
    margin-top: 100px;
}

ul{
    padding: 0;
    margin-bottom: 0;
}

ul li{
    border: 1px solid grey;
    list-style: none;
    border-radius: 2px;
    padding: 5px;
}

input{
    border: none;
    width: 100%;
    text-align: center;
}

.taskTotal{
    text-align: left !important;
}

